@model KonusarakOgrenCase.Models.Exams

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid" style="margin-top: 10%">
    <div class="row text-center">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" style="border: solid">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <h1 style="color: grey;margin-top: 30px;margin-bottom: 30px">@Model.Header</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <h3>Bu sınavı silmek istediğinize emin misiniz?</h3>
                    </div>
                </div>
            </div>
            <div class="row text-center" style="margin-bottom: 30px">
                <div class="col-md-12">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Onayla" class="btn btn-danger" /> |
                        <a class="btn btn-primary" asp-action="Index">İptal</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>